{% extends "squelette.twig" %}

{% block titre %}Categorie Par ID{% endblock %}
{% block main %}
    <a href="{{ url_for('listCategories') }}">Retour à la liste des catégories </a>
    <div class="categorie">
        <a href="{{ url_for('categorieId', {id:  id}) }}"><h2 class="titreCategorie">{{ libelle }}</h2></a>
        <p class="descriptionCategorie">{{ description }}</p>
        <p>Id: {{ id }}</p>
        <a href="{{ url_for('presta2cat', {id: id}) }}">Prestations de cette catégorie</a>
    </div>
{% endblock %}
